# vim: ft=systemd
[Unit]
Description=Tempsys Bluetooth Scanner
After=bluetooth.target network-online.target
Requires=bluetooth.target network-online.target

[Service]
Environment=RUST_LOG=info
Environment=HOST=localhost
Environment=TOPIC=tempsys/temperature
# Define MQTT_USERNAME and MQTT_PASSWORD in this file
EnvironmentFile=/etc/default/tempsys-scan

ExecStart=/usr/local/bin/tempsys-scan --host $HOST --topic $TOPIC
Restart=on-failure
RestartSec=15

[Install]
WantedBy=default.target
